.custom-footer{
        background-color: white; 
        padding: 1rem; 
        box-shadow: 10px 1px 7px #b7b6b6;
    }
.mt-10{
    margin-top: 10px;
}
.h-200{
    height: 200px;
}
.c-font{
    font-family:arial black; 
    color: gray; 
    font-size: 20px;
}
.custom-style{
    width: 66%; 
    margin-top: 14%; 
    float: left;
}
.custom-style-1{
    width: 42%; 
    margin-top: 15%; 
    float: left;
}